@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap');
:root{
    --body-font--:'Mulish', sans-serif;
    --color-white--:#FFF;
    --body-text-color--:#424247;
    --primary-color--:#FF5400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
body{
    font-family: 'Mulish', sans-serif;
}
img{
    max-width: 100%;
}
.mobile-menu{
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: var(--primary-color--);
    color: var(--color-white--);
    border-radius: 4px;
    font-size: 20px;
}
/* =============================== Header Start Here ================================= */
    .header-area .header-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        padding: 20px 0;
    } 
    .header-area .header-wrap .hero-menu ul{
        display: flex;
        justify-content:space-between;
        align-items: center;
        list-style: none;
        transition: all .3s ease;
    }
    .header-area .header-wrap .hero-menu ul li+li{
        margin-left: 40px;
    }
    .header-area .header-wrap .hero-menu ul li a{
        text-decoration: none;
        color:  #424247;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        display: block;
        padding: 10px 0;
        transition: all .3s ease;
    }
    .header-area .header-wrap .hero-menu ul li a:hover{
        color: #FF5400;
    }
/* =============================== Header End Here ================================= */

/* =============================== Banner Start Here ================================= */
    .banner-area{
    padding-top: 50px;
        }
    .banner-area .banner-inner{
        background-image:url(../Images/image-01.png) ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        border-radius: 16px;
        padding: 105px 0;
        position: relative;
        z-index: 1;

    }
    .banner-area .banner-inner::before{
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 16px;
        position: absolute;
        z-index: -1;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);

    }
    .banner-area .banner-inner .banner-title{
        color: var(--color-white--);
        font-size: 64px;
        font-weight: 800;
        margin-bottom: 24px;
    }
    .banner-area .banner-inner .banner-desc{
        color: var(--color-white--);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 48px; 
    }
    .banner-area .banner-inner .banner-form{
        display: flex;
        justify-content:space-around;
        align-items: center;
        padding: 16px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        gap: 24px;
        max-width: 900px;
        margin: 0 auto;
    }
    .banner-area .banner-inner .banner-form input{
        padding: 16px 45px 16px 16px;
        border-radius: 8px;
        background: var(--color-white--);
        border: none;
        outline: none;
        width: 100%;
        color: var(--body-text-color--);
    }
    .banner-area .banner-inner .banner-form input::-webkit-input-placeholder { 
        color: var(--body-text-color--);
    }
    .banner-area .banner-inner .banner-form input::-moz-placeholder {
        color: var(--body-text-color--);
    }
    .banner-area .banner-inner .banner-form input:-ms-input-placeholder { 
        color: var(--body-text-color--);
    }
    .banner-area .banner-inner .banner-form input:-moz-placeholder {
        color: var(--body-text-color--);
    }
    .banner-area .banner-inner .banner-form input:focus{
        outline: none;
        border: none;
    }
    .banner-area .banner-inner .banner-form div{
        max-width: 23%;
        flex:0 0 23%;
    }
    .banner-area .banner-inner .banner-form select{
        padding: 16px 45px 16px 16px;
        border-radius: 8px;
        background: var(--color-white--);
        border: none;
        text-align: center;
        appearance: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
        color: var(--body-text-color--);
    }
    .banner-area .banner-inner .banner-form .form-select{
        position: relative;
    }
    .banner-area .banner-inner .banner-form .form-select:after{
        content: "\ea4e";
        font-family: remixicon !important;
        position: absolute;
        right: 12px;
        top: 11px;
        font-size: 22px;
        pointer-events: none;
    }
    .banner-area .banner-inner .banner-form button{
        padding: 16px 45px 16px 16px;
        border-radius: 8px;
        background: var(--primary-color--);
        border: none;
        color: var(--color-white--);
        text-align: center;
        width: 100%;
        cursor: pointer;
    }
    .banner-area .banner-inner .banner-form button i{
        margin-right: 8px;
    }
/* =============================== Banner End Here ================================= */

/* =============================== Tours Start Here ================================= */
    .tours-area{
        padding-top: 100px;
    }
    .tours-area .tour-inner{
        display: flex;
        justify-content: space-between;
    }
    .tours-area .tour-inner .tour-image{
        text-align: right;
        width: 50%;
        border-radius: 16px;
    }
    .tours-area .tour-inner .tour-image img{
        border-radius: 16px;
    }
    .tours-area .tour-inner .tour-contact{
        text-align: left;
        border-radius: 16px;
        width: 50%;
        margin-right: 50px;
        padding: 5px;
    }
    
    .tours-area .tour-inner .tour-contact .tour-title{
        color: #131318;
        text-align: left;
        font-family: var(--body-font--);
        font-size: 40px;
        font-weight: 800;
    }
    .tours-area .tour-inner .tour-contact .tour-desc{
        color: rgba(19, 19, 24, 0.70);
        font-family: var(--body-font--);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 24px;
    }
    .tours-area .tour-inner .tour-contact div ul {
        list-style: none;
    }
    .tours-area .tour-inner .tour-contact div ul li{
        margin-top: 16px;
    }
    .tours-area .tour-inner .tour-contact div ul li{
        color: rgba(19, 19, 24, 0.70);
        font-family: var(--body-font--);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; 
        margin-bottom: 16px;
        padding-left: 20px;
        position: relative;
    }
    .tours-area .tour-inner .tour-contact div ul li::before{
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        line-height: 6px;
        border-radius: 50%;
        background: rgba(19, 19, 24, 0.70);
        top: 10px;
        left: 0;

    }
    .primary-btn{
        text-decoration: none;
        margin-top: 30px;
        display: inline-block;
        padding: 14px 34px;
        border-radius: 8px;
        background: var(--primary-color--);
        color: var(--color-white--);
        text-align: center;
        font-family: var(--body-font--);
        font-size: 20px;
        font-weight: 800;
        transition: all .3s ease;
    }
    .primary-btn:hover{
        background: var(--body-text-color--);
    }
    
    
/* =============================== Tours End Here ================================= */


/* =============================== Footer StartHere ================================= */
    .footer-area{
        background: rgba(19, 19, 24, 0.05);
        padding: 110px 0;
    }
    .footer-area .footer-inner {
        margin: 0 auto;
    }
    .footer-area .footer-inner .contact{
        text-align: center;

    }
    .footer-area .footer-inner .contact .footer-desc{
        max-width: 98%;
        color: var(--body-text-color--);
        font-family: var(--body-font--);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 15px;

    }
    .footer-area .footer-inner .social-icon ul{
        display: flex;
        justify-content:center;
        align-items: center;
        list-style: none;
        padding: 40px 0;
        border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    }
    .footer-area .footer-inner .social-icon ul li a{
        margin-right: 20px;
        text-decoration:none;
        display: block;
    }
    .footer-area .footer-inner .social-icon ul li a i{
        color: #131318;
        font-size: 30px;
    }
    .footer-area .footer-inner .copyright{
        text-align: center;
        margin-top: 50px;
        color: #131318;
        font-family: Inter;
        font-size: 16px;
        font-weight: 300;
    }
/* =============================== Footer End Here ================================= */

/* =============================== Gallery Start Here ================================= */
    .gallery-area{
        padding-top: 100px;
    }
    .gallery-area .gallery-title{
        color: #131318;
        text-align: center;
        font-family: var(--body-font--);
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 24px;
    }
    .gallery-area .gallery-desc{
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: var(--body-font--);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 45px; 
    }
    .gallery-area .gallery-title{
        display: grid;
        grid-template-columns:repeat(300px 1fr);

    }
    .gallery-area .row{
        display: flex;
        row-gap: 24px;
        column-gap: 24px;
        margin-bottom: 24px;
    }
    .gallery-area .row div img{
        border-radius: 16px;
    }
    .gallery-area .row div{
        border-radius: 16px;
        position: relative;
    }
    .gallery-area .row div span{
        position: absolute;
        top: 50%;
        left: 50%;
        color: var(--color-white--);
        text-align: center;
        font-family: var(--body-font--);
        font-size: 28px;
        font-weight: 800;
        transform: translate(-50%, -50%);
        width: 85%;
    }

/* =============================== Gallery End Here ================================= */

/* =============================== Service Start Here ================================= */
.service_area{
    padding-top: 100px;
}
.service_area .service_title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    padding-top: 15px;
}
.service_area .service-desc{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 48px;
}
.service_area .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service_area .row .service-box{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
    margin-right: 20px;
}
.service_area .row .service-box img{
    margin-bottom: 30px;
}
.service_area .row .service-box .title{
    margin-bottom: 16px;
    color: #131318;
    text-align: start;
    font-size: 24px;
    font-weight: 800;
}
.service_area .row .service-box .desc{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.service_area .bottom-price{
    text-align: left;
    margin-top: 20px;
}
.service_area .bottom-price .service-box{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    gap: 30px;
    margin: 0 auto;
    max-width: 574px;
    padding: 30px;
}
.service_area .bottom-price .service-box img{
    margin-bottom: 30px;
}
.service_area .bottom-price .service-box .title{
    margin-bottom: 16px;
    color: #131318;
    text-align: start;
    font-size: 24px;
    font-weight: 800;
}
.service_area .bottom-price .service-box .desc{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;;
}
.service_area .row .service-box.service-two{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
/* =============================== Service End Here ================================= */

/* =============================== Newsletter Start Here ================================= */
    .newsletter-area{
        padding: 100px 0;
    }
    .newsletter-area .row{
        display: flex;
        flex-wrap: wrap;
    }
    .newsletter-area .row .image-area{
        margin-left: 24px;
        position: relative;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .newsletter-area .row .image-area img{
        border-radius: 16px;
    }
    .newsletter-area .row .image-area .discount{
        position: absolute;
        width: 300px;
        padding: 20px 0;
        border-radius: 16px;
        background: var(--primary-color--);
        text-align: center;
        transform: rotate(-18deg);
        top: 263px;
        right: 29px;
    }
    .newsletter-area .row .image-area .discount h2{
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        margin-top: 0;
    }
    .newsletter-area .row .image-area .discount h4{
        color: #FFF;
        font-family: var(--body-font--);
        font-size: 32px;
        font-weight: 800;
    }
    .newsletter-area .row .form-area{
        border-radius: 16px;
        border: 1px solid #FF5400;
        padding: 30px;
        text-align: left;
        flex: 0 0 37%;
        max-width: 37%;
    }
    .newsletter-area .row .form-area .form-title{
        color: #131318;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 15px;
    }
    .newsletter-area .row .form-area .form-desc{
        color: #5A5A5D;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .newsletter-area .row .form-area.form-desc{
        color: #5A5A5D;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    .newsletter-area .row .form-area form{
        margin-top: 15px;
        border-top: 1px solid rgba(19, 19, 24, 0.10);
    }
    .newsletter-area .row .form-area form .text-fill{
        padding-top: 20px;
    }
    .newsletter-area .row .form-area form .text-fill input{
        padding: 16px 10px;
        width: 100%;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        border: none;
        outline: none;
        color: rgba(19, 19, 24, 0.30);
        font-family: var(--body-font--);
        font-size: 16px;
        font-weight: 400;                                                                                                         
    }
    .newsletter-area .row .form-area form .text-fill input::-webkit-input-placeholder { 
        color: rgba(19, 19, 24, 0.30);
    }
    .newsletter-area .row .form-area form .text-fill input::-moz-placeholder {
        color: rgba(19, 19, 24, 0.30);
    }
    .newsletter-area .row .form-area form .text-fill input:-ms-input-placeholder { 
        color: rgba(19, 19, 24, 0.30);
    }
    .newsletter-area .row .form-area form .text-fill input:-moz-placeholder {
        color: rgba(19, 19, 24, 0.30);
    }
    .newsletter-area .row .form-area form .text-fill input:focus{
        outline: none;
        border: none;
    }
    .newsletter-area .row .form-area .button-area {
        margin-top: 20px;
    }
    .newsletter-area .row .form-area .button-area button{
        transition: all .3s ease;
        padding: 16px 10px;
        width: 100%;
        border-radius: 8px;
        background: var(--primary-color--);
        border: none;
        outline: none;
        color: var(--color-white--);
        text-align: center;
        font-size: 20px;
        font-weight: 600;
     }
     .newsletter-area .row .form-area .button-area button:hover{
        background: var(--body-text-color--);
        color: var(--color-white--);
     }
/* =============================== Newsletter End Here ================================= */